<body>
  <div class="login-left-box">
    <img src="assets/images/login_bg1.jpg" alt="" class="login-image">
    <img src="assets/images/login_bg2.jpg" alt="" class="login-image">
    <img src="assets/images/login_bg3.jpg" alt="" class="login-image">
    <img src="assets/images/login_bg4.jpg" alt="" class="login-image">
    <img src="assets/images/login_bg5.jpg" alt="" class="login-image">
    <img src="assets/images/login_bg6.jpg" alt="" class="login-image">
    <img src="assets/images/login_bg7.jpg" alt="" class="login-image">
    <img src="assets/images/login_bg8.jpg" alt="" class="login-image">
  </div>
  <div class = "login-box">
    <div>
      <h1>Mechokart</h1>
      <div>
        <form [formGroup] = "loginFormGroup">
          <div>
            <label for="username">Username </label>
            <input type = "text" id = "username" formControlName = "username" class = "form-input" required>
          </div>
          <div>
            <label for="username">Password </label>
            <input type = "password" id = "password" formControlName = "password" class = "form-input" required>
          </div>
          <div>
            <button [disabled] = loginFormGroup.invalid (click) = onLogin()>Login</button>
            <button>Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
